.wrapper {
  height: 40px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(27, 23, 23, 0.4);
  color: white;

  display: flex;
  flex-direction: row;
  padding-left: 10px;
  z-index: 1;
  padding-right: 10px;

  justify-content: space-between;
  
  .appTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    font-variant: small-caps;

    color: #ffffff;
  }

  .workspaceName {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    font-variant: small-caps;

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout {
    display: flex;
    align-items: center;

    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */

      text-decoration: none;

      color: #ffffff;
    }
  }
}
