.wrapper {
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.14);
  cursor: pointer;

  &:hover{
      transform: scale(1.03);
  }

  .icon {
    color: white;

    svg {
      width: 30px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
