.editor {
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 0px 10px;
  font-family: Roboto;
}

.toolbar {
  border-radius: 10px;
  font-family: Roboto;
  font-size: 14px;
}

.wrapper {
  width: 100%;
}
