.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  &:hover {
    background: #291933;
    color: white;
  }

  .label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    /* identical to box height */

    font-variant: small-caps;

    /* Text Dark */
    &:hover {
      color: white;
    }

    color: inherit;
  }
}
