.wrapper {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  padding: 3px;

  &:hover {
    cursor: pointer;
    background-color: #ffffff14;
  }
  color: #ffffff;
}

.notification {
  background-color: #afa8a852;
  font-weight: bold;
}
